#newimage{
    width:300px;
    height: 200px;
    margin-left: 500px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

#move{
    margin:50px;
    margin-left: 500px;
}

button{
    border-radius: 2px;
    border:2px solid black;
}

body{
    background-color: lightcyan;
}
