

header{   
    text-align: center;
    color:red;
    text-decoration: underline;
}

.line{
  margin-left: 350px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    color:white;
    
  }
  nav li a {
    display:block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      nav li a:hover{
    background-color:green;
      }

      li{
        float:left;
      }
      span{
          font-style: italic;
          font-size: x-large;
          color:red;
          text-decoration: underline;
      }
      article{
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-size: large;
        text-indent: 40px;
        margin-top: 20px;
        
    }
    img{
        float:left;

    }
    section{
        overflow: scroll;
    }
      #image{
            float:right;
      }

      h2{
         color: blue;
         text-decoration:underline;
      }

      #name
      {
        
        color:black;
        text-decoration: none;
      }
      p{
          color:purple;
          line-height: 50px;
          word-spacing: 2px;
          
      }
      footer{
        background-color:rgba( 234,200, 0.1);
        text-align: center;
        position:scroll;
        bottom: 0;
        width:100%;

    }
    button{
        color:blue;
        border: 3px dashed black;
        background-image: linear-gradient(pink,lightyellow,aquamarine);
    }
   #newimage{
       float:right;
   }

   h4{
       text-align: center;
       text-decoration: underline;
       
       font-size: x-large;
       color:darkmagenta;
   }
  
  
  
  

    